:root {
 --fon-color: #D95B8A;
 --color-accent: #D9795B;
 --color-addition: #D95BD5;
 --text-color: #D9A7A3;
  }
body{
 width: 100vw;
 height: 100vh;
 margin: 0;
 padding: 0;
 background-color: var(--fon-color);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 position: relative;
}
#tetx-head{
 color: var(--color-accent);
 font-size: 1rem;
}
#loginForm{
 width: 60vmin
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
#lastName, #password {
 border: 0.22vmin solid var(--color-addition);
 background-color: var(--color-addition);
 color: var(--text-color);
 outline: none;
}
.field{
 width: 100%;
 padding: 1.25vmin 5%;
 border-radius: 1rem;
 box-sizing: border-box;
 font-size: clamp(16px, 2.35vh, 40px);
 transition: all 0.3s ease-in-out;
}
#loginButton{
 border: 0;
 background-color: var(--text-color);
 color: var(--color-addition);
}
#lastName:hover, #password:hover{
 border: 0.22vmin solid var(--color-accent);
 box-shadow: 0 0 0.5vmin var(--color-accent);
}
#loginButton:hover{
 transform: scale(1.03);
 background-color: var(--color-accent);
 font-size: clamp(16px, 2.37vh, 40px);
 box-shadow: 0 0 0.5vmin var(--color-accent);
}
